@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --blanco: #ffffff;
    --celeste: #00bcd4;
    --gris-claro: #f5f5f5;
    --gris: #b9b9b9;
    --gris-oscuro: #3c3c3c;
    --negro: #000000;
    --violeta: #c44fdc;
    --verde: #87ff8b;
    --rojo: #fc6565;
}

body {
    min-height: 100vh;
    background-color: var(--gris-claro);
    display: flex;
    flex-direction: column;
}

.main-index {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    flex-wrap: wrap;
    h1 {
        margin: 5vh 0;
        text-decoration: underline;
    }
}

.main-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    h2 {
        align-self: center;
        margin: 5vh 0;
        text-decoration: underline;
    }

}

.main-perfil {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    h2 {
        align-self: center;
        margin: 5vh 0;
        text-decoration: underline;
    }
}

.titulo-index {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-rutipal {
    height: 70vh;
    border-radius: 10px;
}

header {
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: var(--gris);
    box-shadow: 0 0 5px var(--negro);
    margin-bottom: 1vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1vh 0;
    .foto-nav {
        align-self: flex-start;
        img {
            width: 50px;
            border-radius: 50%;
        }
    }
}

.menu li {
    list-style: none;
}

.link {
    background-color: var(--gris-claro);
    border: .5px solid var(--negro);
    box-shadow: 0 0 5px var(--negro);
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 10px;
    transition-duration: .5s;
    text-decoration: none;
    color: var(--gris-oscuro);
}

.link:hover {
    color: var(--celeste);
    box-shadow: 0 0 5px var(--celeste);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.rojo:hover {
    color: var(--rojo);
    box-shadow: 0 0 5px var(--rojo);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.verde:hover {
    color: var(--verde);
    box-shadow: 0 0 5px var(--verde);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.celeste:hover {
    color: var(--celeste);
    box-shadow: 0 0 5px var(--celeste);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;

}

footer {
    width: 100%;
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 2vh 0;
    box-shadow: 0 0 5px var(--negro);
    margin-top: 1vh;
}

h2 {
    margin: 2vh 0;
    color: var(--gris-oscuro);
    text-decoration: underline;
}

.form-login, .form-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0;
    input {
        margin: 5px 0;
        border: .5px solid var(--negro);
        padding: 2px 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px var(--negro);
    }
    button {
        padding: 3px 8px;
        background-color: var(--gris-claro);
        border: .5px solid var(--negro);
        box-shadow: 0 0 5px var(--negro);
        border-radius: 8px;
        margin: 10px 0;
        transition-duration: .5s;
    }
    button:hover {
        background-color: var(--gris-oscuro);
        color: var(--celeste);
        transition-duration: .2s;
        cursor: pointer;
    }
}

.editar-perfil {
    input {
        margin-bottom: 15px;
    }
}

.form-registro {
    button:hover {
        color: var(--verde);
    }
}

.form-login {
    input:focus {
        box-shadow: 0 0 10px var(--celeste);
    }
}

.form-registro, .editar-perfil {
    input:focus {
        box-shadow: 0 0 10px var(--verde);
    }
}

.foto-perfil {
    width: 100px;
    border-radius: 5px;
    transition-duration: .5s;
    margin: 1vh 0;
}

.foto-perfil:hover {
    width: 120px;
}