{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Iniciar Sesión
{% endblock title %}

{% block content %}
    <main class="main-form">
        <h2>Iniciar sesión</h2>

        <form method="POST" class="form-login">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Usuario">
            <input type="password" name="password" placeholder="Contraseña">

            <button type="submit" class="link celeste boton-login shadow-celeste">Iniciar Sesión</button>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>


        <a href="{% url 'usuarios:registro' %}" class="link verde margin-top-2">Crear cuenta</a>
    </main>
{% endblock content %}