{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Perfil
{% endblock title %}

{% block content %}
    <main class="main-perfil">
        <div class="datos">
            <h2>
                {{ usuario.username }}
            </h2>
            <div class="detalle-datos">
                <h5>Datos Personales:</h5>
                <p>Nombre: {{ usuario.first_name }} {{ usuario.last_name }}</p>
                <p>DNI: {{ usuario.dni }}</p>
                <p>Mail: {{ usuario.email }}</p>
                <p>Teléfono: {{ usuario.telefono }}</p>
            </div>
            {% if usuario.foto %}
                <img src="{{ usuario.foto.url }}" alt="Foto de {{ usuario.username }}" class="foto-perfil">
            {% endif %}
            <a href="{% url 'usuarios:editar-perfil' %}" class="link verde">Editar Datos</a>
        </div>
        <div class="mis-rutinas">
            {% if user.is_alumno %}
                <h3><a href="{% url 'rutinas:rutinas' %}" class="link celeste">Mis Rutinas</a></h3>
                {% if rutinas %}
                    <ul>
                        {% for rutina in rutinas %}
                            <li><p>{{ rutina.mes }} {{ rutina.dia }}</p></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No tienes rutinas asignadas.</p>
                {% endif %}
            {% elif user.is_profesor %}
                <h3 class="h3-profesor">Centro de Rutinas</h3>
                <div class="links-rutinas">
                    <a href="{% url 'rutinas:cargar-ejercicio' %}" class="link verde">Cargar Ejercicio</a>
                    <a href="{% url 'rutinas:crear-rutina' %}" class="link verde">Crear Rutina</a>
                    <a href="{% url 'rutinas:ver-rutinas' %}" class="link celeste">Ver rutinas</a>
                    <a href="{% url 'rutinas:rutinas' %}" class="link celeste">Mi Rutina</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}