{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Registro
{% endblock title %}

{% block content %}
    <main class="main-form">
        <h2>Registro</h2>

        <form method="POST" enctype="multipart/form-data" class="form-registro">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Nombre de Usuario">
            <input type="password" name="password" placeholder="Contraseña" id="password">
            <p id="password-error" style="color: red;"></p>
            <input type="password" name="confirm_password" placeholder="Confirmar Contraseña" id="confirm_password">
            <input type="text" name="apellido" placeholder="Apellido">
            <input type="text" name="nombre" placeholder="Nombre">
            <input type="number" name="dni" placeholder="DNI">
            <input type="email" name="email" placeholder="Correo Electrónico">
            <input type="tel" name="telefono" placeholder="Teléfono">
            <input type="file" name="foto">

            <button type="submit" class="verde">Registrarse</button>
            {% if error %}
                <p style="color:red;">{{ error }}</p>
            {% endif %}
        </form>
        <a href="{% url 'usuarios:login' %}" class="link">Ya tengo cuenta</a> 
    </main>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'usuarios/registro.js' %}"></script>
{% endblock scripts %}
