{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Crear Rutina
{% endblock title %}

{% block content %}
    <main class="main-rutinas">
        <h2>Nueva Rutina</h2>
            <form method="POST" class="form-rutina">
                {% csrf_token %}

                <select name="usuario">
                    <option value="">Alumno</option>
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">
                            {{ usuario.username }} {{ usuario.dni }}
                        </option>
                    {% endfor %}
                </select>

                <input type="text" name="mes" placeholder="Mes">
                <input type="text" name="dia" placeholder="Día">

                <h3>Ejercicios</h3>

                {% for ejercicio in ejercicios %}
                    <div class="form-ejercicios">

                        <!-- checkbox para seleccionar -->
                        <input type="checkbox" name="ejercicio" value="{{ ejercicio.id }}">

                        <strong>{{ ejercicio.nombre }} ({{ ejercicio.musculo }})</strong>

                        <br>

                        <!-- inputs asociados a ese ejercicio -->
                        <input type="number" name="reps_{{ ejercicio.id }}" placeholder="Reps">
                        <input type="number" name="series_{{ ejercicio.id }}" placeholder="Series">
                        <input type="number" name="peso_{{ ejercicio.id }}" placeholder="Peso">

                    </div>
                {% endfor %}

                <button type="submit" class="link verde">Crear Rutina</button>

                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}
            </form>
            <button class="link rojo" onclick="window.history.back();">Volver</button>
    </main>
{% endblock content %}