{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Mi Rutina
{% endblock title %}

{% block content %}
    <main class="main-rutinas">
        <h2>Rutinas</h2>

        {% if rutinas_por_mes %}
            <form method="POST" class="form-rutina-muestra">
                {% csrf_token %}

                {% for mes, rutinas in rutinas_por_mes.items %}

                    <div class="mes-rutina">
                        <h2 class="toggle-mes" data-id="mes-{{ forloop.counter }}">{{ mes }}
                            <img src="{% static 'img/chevron_right.png' %}" alt="chevron" class="chevron">
                        </h2>

                        <div id="mes-{{ forloop.counter }}" class="contenido-mes" style="display: none;">
                            {% for rutina in rutinas %}
                                <div class="dia-rutina">
                                    <h3 class="toggle-dia" data-id="dia-{{ rutina.id }}">Día {{ rutina.dia }}:
                                        <img src="{% static 'img/chevron_right.png' %}" alt="chevron" class="chevron2">
                                    </h3>

                                    <div id="dia-{{ rutina.id }}" class="contenido-dia" style="display: none;">
                                        <ul>
                                            {% for r in rutina.ejercicios.all %}
                                                <li class="ejercicio-completo">
                                                    <p class="toggle-ejercicio" data-id="ej-{{ r.id }}">
                                                        {{ r.ejercicio.nombre }}: <small>Ver ejercicio</small>
                                                    </p>
                                                    <div id="ej-{{ r.id }}" class="detalle-ejercicio" style="display: none;">
                                                        <p><strong>Músculo:</strong> {{ r.ejercicio.musculo }}</p>
                                                        <p><strong>Descripción:</strong> {{ r.ejercicio.descripcion }}</p>

                                                        {% if r.ejercicio.imagen %}
                                                            <img src="{{ r.ejercicio.imagen.url }}" width="150">
                                                        {% endif %}

                                                        {% if r.ejercicio.get_embed_url %}
                                                            <iframe 
                                                                width="300" 
                                                                height="170" 
                                                                src="{{ r.ejercicio.get_embed_url }}" 
                                                                title="YouTube video player"
                                                                frameborder="0"
                                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                                referrerpolicy="strict-origin-when-cross-origin"
                                                                allowfullscreen>
                                                            </iframe>
                                                        {% endif %}
                                                    </div>

                                                    {% if user.is_alumno %}
                                                        {{ r.repeticiones }} reps x {{ r.series }} series
                                                    {% elif user.is_profesor %}
                                                        <label><input type="number" 
                                                            name="reps_{{ r.id }}" 
                                                            value="{{ r.repeticiones }}"
                                                            data-id="{{ r.id }}"
                                                            data-field="repeticiones"
                                                            class="auto-save"> reps. x </label>

                                                        <label><input type="number" 
                                                            name="series_{{ r.id }}" 
                                                            value="{{ r.series }}"
                                                            data-id="{{ r.id }}"
                                                            data-field="series"
                                                            class="auto-save"> series /</label>
                                                    {% endif %}

                                                    <label><input type="number" 
                                                        step="0.5"
                                                        name="peso_{{ r.id }}" 
                                                        value="{{ r.peso|stringformat:'.1f' }}"
                                                        data-id="{{ r.id }}"
                                                        data-field="peso"
                                                        class="auto-save"> Kg.</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                {% endfor %}

            </form>
        {% else %}
            <p>No tienes rutinas asignadas.</p>
        {% endif %}
    </main>
    <script>
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        document.querySelectorAll('.auto-save').forEach(input => {
            input.addEventListener('change', function() {

                const id = this.dataset.id;
                const field = this.dataset.field;
                const value = this.value;

                fetch("{% url 'rutinas:actualizar_ejercicio' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCSRFToken()
                    },
                    body: JSON.stringify({
                        id: id,
                        field: field,
                        value: value
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log("Guardado:", data);
                });
            });
        });

        document.querySelectorAll('.toggle-ejercicio').forEach(nombre => {
            nombre.addEventListener('click', function() {
                const id = this.dataset.id;
                const detalle = document.getElementById(id);

                if (detalle.style.display === "none") {
                    detalle.style.display = "flex";
                } else {
                    detalle.style.display = "none";
                }
            });
        });
        document.querySelectorAll('.toggle-mes').forEach(mes => {
            mes.addEventListener('click', function() {
                const id = this.dataset.id;
                const contenido = document.getElementById(id);
                const chevron = this.querySelector('.chevron');

                document.querySelectorAll('.contenido-mes').forEach(div => {
                    if (div.id !== id) {
                        div.style.display = "none";
                    }
                });

                document.querySelectorAll('.toggle-mes .chevron').forEach(c => {
                    if (c !== chevron) {
                        c.classList.remove('rotar');
                    }
                });

                const abierto = contenido.style.display === "flex";

                contenido.style.display = abierto ? "none" : "flex";
                chevron.classList.toggle('rotar', !abierto);
            });
        });

        document.querySelectorAll('.toggle-dia').forEach(dia => {
            dia.addEventListener('click', function() {

                const id = this.dataset.id;
                const contenido = document.getElementById(id);
                const chevron = this.querySelector('.chevron2');

                document.querySelectorAll('.contenido-dia').forEach(div => {
                    if (div.id !== id) {
                        div.style.display = "none";
                    }
                });

                document.querySelectorAll('.toggle-dia .chevron2').forEach(c => {
                    if (c !== chevron) {
                        c.classList.remove('rotar');
                    }
                });

                const abierto = contenido.style.display === "flex";

                contenido.style.display = abierto ? "none" : "flex";
                chevron.classList.toggle('rotar', !abierto);
            });
        });
    </script>
{% endblock content %}