@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --blanco: #ffffff;
    --celeste: #00bcd4;
    --azul-oscuro: #004a86;
    --azul: #000faf;
    --gris-claro: #f5f5f5;
    --gris: #b9b9b9;
    --gris-azul: #6f6f74;
    --gris-oscuro: #3c3c3c;
    --negro: #000000;
    --violeta: #c44fdc;
    --verde: #87ff8b;
    --verde-oscuro: #27752a;
    --rojo: #fc6565;
}

body {
    min-height: 100vh;
    background-color: var(--gris-azul);
    display: flex;
    flex-direction: column;
}

.main-index {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    flex-wrap: wrap;
    h1 {
        margin: 5vh 0;
        text-decoration: underline;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        gap: 50px;
    }
}

.main-rutinas {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    h2 {
        font-size: 2em;
        align-self: center;
        margin: 5vh 0;
        text-decoration: underline;
    }
    @media (max-width: 500px) {
        overflow: auto;
        width: 100vw;
        align-items: center;
        margin-left: 0;
    }
}

.main-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2vw;
    h2 {
        align-self: center;
        margin: 5vh 0;
        text-decoration: underline;
    }
}

.main-perfil {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 2vw;
    .datos {
        height: 70vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            color: var(--negro);
            align-self: center;
            text-decoration: underline;
            margin-bottom: 1vh;
        }
        .detalle-datos {
            background-color: var(--gris);
            display: flex;
            flex-direction: column;
            gap: 1vh;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid var(--negro);
            box-shadow: 0 0 2px var(--azul);
            p {
                color: var(--negro);
                font-size: 18px;
            }
            h5 {
                text-decoration: underline;
            }
        }
    }
    .mis-rutinas {
        height: 70vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            width: fit-content;
            align-self: center;
            margin-bottom: 1vh;
        }
        .h3-profesor {
            font-size: 1.5em;
            text-decoration: underline;
        }
        @media (max-width: 500px) {
            width: fit-content;
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;
        .datos {
            height: fit-content;
            margin-bottom: 2vh;
            padding-bottom: 1vh;
            border-bottom: 1px solid var(--negro);
        }
    }
}

.titulo-index {
    height: 70vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    h1, h3, p {
        margin-bottom: 2vh;
        text-align: center;
    }
    h3 {
        text-decoration: underline;
    }
    p {
        color: var(--gris-oscuro);
        background-color: var(--gris);
        padding: 5px 2px;
        border-radius: 5px;
        border: .5px solid var(--negro);
    }
    @media (max-width: 500px) {
        height: fit-content;
        width: 95%;
    }
}

.img-rutipal {
    position: relative;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 0 transparent;
    transition-duration: .5s;
}

.img-rutipal:hover {
    box-shadow: 0px 0px 10px var(--negro);
}

header {
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: var(--gris);
    box-shadow: 0 0 5px var(--azul-oscuro);
    margin-bottom: 1vh;
}

.menu {
    min-width: 100%;
    max-width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1vh 0;
    li {
        min-width: fit-content;
    }
    .foto-nav {
        align-self: flex-start;
        img {
            width: 50px;
            border-radius: 50%;
            box-shadow: 0 0 3px var(--azul-oscuro);
            transition-duration: .3s;
            &:hover {
            transform: scale(1.1);
            transition-duration: .5s;
            }
        }
    }
}

.menu li {
    list-style: none;
}

.link {
    background-color: var(--gris-claro);
    border: .5px solid var(--negro);
    box-shadow: 0 0 5px var(--negro);
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 10px;
    transition-duration: .5s;
    text-decoration: none;
    text-align: center;
    color: var(--gris-oscuro);
    @media (max-width: 500px) {
        margin: 0 5px;
    }
}

.link:hover {
    color: var(--celeste);
    box-shadow: 0 0 5px var(--celeste);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.boton-login {
    transform: scale(1.5);
}

.rojo:hover {
    color: var(--rojo);
    box-shadow: 0 0 5px var(--rojo);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.verde:hover {
    color: var(--verde);
    box-shadow: 0 0 5px var(--verde);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;
}

.celeste:hover {
    color: var(--celeste);
    box-shadow: 0 0 5px var(--celeste);
    background-color: var(--gris-oscuro);
    transition-duration: .2s;

}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    text-align: center;
    padding: 2vh 0;
    box-shadow: 0 0 5px var(--negro);
    margin-top: 1vh;
}

.form-login, .form-registro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    input {
        margin: 5px 0;
        border: .5px solid var(--negro);
        padding: 2px 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px var(--negro);
    }
    button {
        padding: 3px 8px;
        background-color: var(--gris-claro);
        border: .5px solid var(--negro);
        box-shadow: 0 0 5px var(--negro);
        border-radius: 8px;
        margin: 10px 0;
        transition-duration: .5s;
    }
    button:hover {
        background-color: var(--gris-oscuro);
        color: var(--celeste);
        transition-duration: .2s;
        cursor: pointer;
    }
}

.form-registro {
    fieldset {
        border: .5px solid var(--negro);
        border-radius: 5px;
        padding: 5px;
    }
}

.form-rutina {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    input {
        margin: 5px 0;
        border: .5px solid var(--gris-oscuro);
        padding: 2px 5px;
        border-radius: 5px;
    }
    textarea {
        border-radius: 5px;
        padding: 2px 5px;
    }
    button {
        padding: 3px 8px;
        background-color: var(--gris-claro);
        border: .5px solid var(--negro);
        box-shadow: 0 0 5px var(--negro);
        border-radius: 8px;
        margin: 10px 0;
        transition-duration: .5s;
    }
    button:hover {
        background-color: var(--gris-oscuro);
        color: var(--celeste);
        transition-duration: .2s;
        cursor: pointer;
    }
    h3 {
        text-decoration: underline;
    }
    select {
        padding: 2px 5px;
        border-radius: 5px;
        background-color: var(--gris-claro);
        border: .5px solid var(--negro)
    }
}

.bloque-musculo {
    text-align: center;
    width: fit-content;
    background-color: var(--gris);
    padding: 4px;
    border-radius: 5px;
    border: .5px solid var(--negro);
    box-shadow: 0 0 3px var(--azul-oscuro);
    h4 {
        text-decoration: underline;
        font-size: 1.3em;
    }
}

.bloque-musculo:hover {
    cursor: pointer;
}

.contenido-musculo {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    width: 95vw;
}

.imagen-ejercicio {
    width: 50px;
}

.form-rutina-muestra {
    display: flex;
    min-width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    input {
        margin: 5px 0;
        border: .5px solid var(--gris-oscuro);
        text-align: end;
        padding: 1px 0;
        border-radius: 5px;
    }
    button {
        padding: 3px 8px;
        background-color: var(--gris-claro);
        border: .5px solid var(--negro);
        box-shadow: 0 0 5px var(--negro);
        border-radius: 8px;
        margin: 10px 0;
        transition-duration: .5s;
    }
    button:hover {
        background-color: var(--gris-oscuro);
        color: var(--celeste);
        transition-duration: .2s;
        cursor: pointer;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
}

.li-ver-rutina {
    input {
        padding: 0 5px;
    }
}

.form-rutina-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    background-color: var(--gris);
    border-radius: 5px;
    padding: 10px;
    li {
        list-style: none;
    }
    input {
        padding: 2px 5px;
    }
}

.usuario-bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-agregar-ejercicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        padding: 3px 5px;
    }
    select {
        padding: 2px 5px;
        border: .5px solid var(--negro);
        border-radius: 5px;
    }
    h3 {
        margin-bottom: 10px;
        text-decoration: underline;
    }
}

.editar-perfil {
    input {
        margin-bottom: 15px;
    }
}

.form-registro {
    button:hover {
        color: var(--verde);
    }
}

.form-login {
    input:focus {
        box-shadow: 0 0 10px var(--celeste);
    }
}

.form-registro, .editar-perfil {
    input:focus {
        box-shadow: 0 0 10px var(--verde);
    }
}

.form-ejercicios {
    margin-top: 5px;
    border: .5px solid var(--gris-oscuro);
    border-radius: 5px;
    width: fit-content;
    padding: 2px 10px;
    input {
        margin: 5px 0;
        border: .5px solid var(--negro);
        padding: 2px 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px var(--negro);
    }
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.ejercicio-checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
    input[type="checkbox"] {
        transform: scale(1.5);
    }
}

.foto-perfil {
    width: 100px;
    border-radius: 5px;
    transition-duration: .5s;
    margin: 1vh 0;
    box-shadow: 0 0 3px var(--azul-oscuro);
}

.foto-perfil:hover {
    width: 120px;
}

.links-rutinas {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    a {
        text-align: center;
    }
}

.password-mal {
    box-shadow: 0 0 5px var(--rojo) !important;
    background-color: var(--rojo);
}

.display-none {
    display: none;
}

.form-rutina {
    width: 100%;
}

.mes-rutina {
    background-color: var(--gris);
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--negro);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--azul-oscuro);
    h3 {
        font-size: 1.5em;
        align-self: center;
        letter-spacing: 1.2px;
        text-decoration: underline;
    }
    @media (max-width: 500px) {
        width: 98vw;
        padding: 0;
    }
}

.contenido-mes {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.dia-rutina {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--gris-claro);
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid var(--negro);
    border-radius: 10px;
    box-shadow: 0 0 2px var(--azul);
    li {
        margin-top: 5px;
    }
    h3 {
        align-self: flex-start;
        text-decoration: underline;
    }
    input {
        width: 60px;
    }
    @media (max-width: 500px) {
        width: 95vw;
        justify-content: center;
        margin: 0;
        margin-bottom: 1vh;
    }
}

.dia-editar {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1vw;
    h4 {
        font-size: 1em;
    }
    a {
        color: var(--negro);
        text-decoration: none;
        font-size: .8em;
        transition-duration: .3s;
        &:hover {
            color: var(--verde-oscuro);
        }
    }
}

.toggle-ejercicio, .toggle-mes, .toggle-dia {
    text-decoration: underline;
    transition-duration: .3s;
}

.toggle-ejercicio:hover, .toggle-mes:hover, .toggle-dia:hover {
    cursor: pointer;
    color: var(--azul-oscuro);
}

.toggle-dia {
    display: flex;
    align-items: center;
}

.toggle-usuario {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: underline;
    font-size: 1.5em;
    background-color: var(--gris);
    padding: 2px 5px;
    border: .5px solid var(--negro);
    border-radius: 5px;
    margin-bottom: 1vh;
    transition-duration: .3s;
}

.toggle-usuario:hover {
    cursor: pointer;
    background-color: var(--gris-claro);
}

.toggle-musculo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalle-ejercicio {
    background-color: var(--gris-azul);
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin: 20px 0;
    border-radius: 5px;
}

.ejercicio-completo {
    background-color: var(--gris);
    padding: 2px 5px;
    border: .5px solid var(--negro);
    border-radius: 5px;
}

.nombre-foto-usuario {
    display: flex;
    gap: 5px;
}

.foto-usuario {
    width: 2vw;
    border-radius: 5px;
    @media (max-width: 500px) {
        width: 50px;
    }
}

.chevron {
    margin-left: 10px;
    transition-duration: .5s;
}

.chevron2 {
    margin-left: 10px;
    transition-duration: .5s;
}

.margin-top-2 {
    margin-top: 2vh;
}

.shadow-verde {
    box-shadow: 0 0 3px var(--verde) !important;
}

.shadow-celeste {
    box-shadow: 0 0 3px var(--celeste) !important;
}

.rotar {
    rotate: 90deg;
}