{% extends 'core/components/base.html' %}
{% load static %}

{% block title %}
    Rutipal
{% endblock title %}

{% block content %}
    <main class="main-index">
        <div class="titulo-index">
            <h1>Bienvenido a Rutipal</h1>
            <p>Este es un simple ejemplo de página web con Django.</p>
        </div>
        <div class="imagen-rutipal">
            {% if user.is_alumno %}
                <a href="{% url 'rutinas:rutinas' %}">
                    <img src="{% static 'img/rutipal.png' %}" alt="Imagen de Rutipal" class="img-rutipal" title="Mis Rutinas">
                </a>
            {% elif user.is_profesor %}
                <a href="{% url 'rutinas:crear-rutina' %}">
                    <img src="{% static 'img/rutipal.png' %}" alt="Imagen de Rutipal" class="img-rutipal" title="Crear Rutina">
                </a>
            {% else %}
                <a href="{% url 'usuarios:login' %}">
                    <img src="{% static 'img/rutipal.png' %}" alt="Imagen de Rutipal" class="img-rutipal" title="Iniciar Sesión">
                </a>
            {% endif %}
        </div>
    </main>
{% endblock content %}